// ----Primary colors------

$darkBlue: hsl(240, 38%, 20%);
$grayishBlue: hsl(240, 18%, 77%);

// -----Font-----
$f-size-1: 1rem;
$f-size-2: 2rem;
$f-size-3: 3rem;
$f-size-4: 4rem;

$f-w-3:300;
$f-w-5:500;
$f-w-7:700;
$f-w-9:900;


